<ion-header>
  <ion-toolbar color="primary">
      <ion-title>{{shopname?shopname:"New Business"}}</ion-title>
      <ion-buttons slot="start">
              <ion-back-button defaultHref="/shop-list" routerDirection="backward"></ion-back-button>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
  <form [formGroup]="shopForm">
      <ion-item><ion-icon name = "business" slot = 'start' size="large" ></ion-icon>
          <ion-label position="floating" color="primary" text-wrap>Name of the shop / establishment</ion-label>
          <ion-input formControlName="shopname" [value]="shopname"  [attr.maxlength]="40"  (input)="shopname = $event.target.value" type='text'></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!shopForm.controls.shopname.valid && shopForm.controls.shopname.dirty">
          <p>Enter business name  40 char max. Avoid these special characters in the name $ . & / </p>
      </ion-item>
<!-- ==============================-->
      <ion-item> <ion-icon name = "map" slot = 'start' size="large" ></ion-icon>
          <ion-label text-wrap position="floating" color="primary">Main Locality of the shop/business</ion-label>
          <ion-input formControlName="shoplocality" [value]="shoplocality" (input)="shoplocality = $event.target.value" type="text"
              [attr.maxlength]="40" [class.invalid]="!shopForm.controls.shoplocality.valid && shopForm.controls.shoplocality.dirty"></ion-input>
      </ion-item>
      <p class="help" *ngIf="shopForm.controls.shoplocality.valid && shopForm.controls.shoplocality.dirty">City or
          Locality of {{shopname}}. 40 char max. Avoid $ . & / </p>
      <ion-item class="error-message" *ngIf="!shopForm.controls.shoplocality.valid && shopForm.controls.shoplocality.dirty">
          <p> Locality of {{shopname}} e.g Connought Place, Hutatma Chowk etc. </p>
      </ion-item>
<!-- ==============================-->
      <ion-item > <ion-icon name = "location" slot = 'start' size="large" ></ion-icon>
          <ion-label text-wrap position="floating" color="primary">Complete Address</ion-label>
          <ion-input formControlName= "shopaddr" [value]="shopaddr" (input)="shopaddr = $event.target.value" [attr.maxlength]="30" type="text"
           [class.invalid]="!shopForm.controls.shopaddr.valid && shopForm.controls.shopaddr.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!shopForm.controls.shopaddr.valid && shopForm.controls.shopaddr.dirty">
          <p>Postal Address of the shop. Avoid $. , / &</p>
      </ion-item>
      <!-- ==============================-->
      <ion-item> <ion-icon name = "person" slot = 'start' size="large" ></ion-icon>
        <ion-label text-wrap position="floating" color="primary">Contact Person / Owner</ion-label>
        <ion-input formControlName="contactname" [value]="contactname" (input)="contactname = $event.target.value" type="text"
            [attr.maxlength]="20" [class.invalid]="!shopForm.controls.contactname.valid && shopForm.controls.contactname.dirty"></ion-input>
    </ion-item>
    <p class="help" *ngIf="shopForm.controls.contactname.valid && shopForm.controls.contactname.dirty">City or
        Contact Person at shop</p>
    <ion-item class="error-message" *ngIf="!shopForm.controls.contactname.valid && shopForm.controls.contactname.dirty">
        <p> Enter contact person at {{shop}} </p>
    </ion-item>
          <!-- ==============================-->
      <ion-item> <ion-icon name = "call" slot = 'start' size="large" ></ion-icon>
          <ion-label text-wrap position="floating" color="primary">What is the contact number {{contactname?("of " + contactname): ""}}? </ion-label>
          <ion-input formControlName="shopphone" [value]="shopphone" (input)="shopphone = $event.target.value" type="tel" [attr.maxlength]="10"></ion-input>
      </ion-item>
              <!-- ==============================-->
      <ion-item> <ion-icon name = "at" slot = 'start' size="large" ></ion-icon>
          <ion-label position="floating" color="primary">What is the email address {{contactname?("of " + contactname): ""}} ?</ion-label>
          <ion-input formControlName="shopemail" [value]="shopemail" (input)="shopemail = $event.target.value" type="email" ></ion-input>
      </ion-item>
              <!-- ==============================-->
              <ion-item><ion-icon name = "albums" slot = 'start' size="large" ></ion-icon>
                <ion-label text-wrap position="stacked" color="primary">What is the type of business </ion-label>
              <ion-select (ionChange)="onSelectChange($event)" interface="alert" [compareWith]="compareWith" 
              value="{{shopType}}" formControlName= "shopType">
                <ion-select-option *ngFor="let b of shoptypes | async" [value]="b.id">{{b.id}}
                </ion-select-option>
    </ion-select>
    </ion-item>
      <ion-button expand="block" (click)="addshop(shopForm)" [disabled]="!shopForm.valid">
              Save this Information
            </ion-button> </form>
            </ion-grid>
</ion-content>