<ion-header>
    <ion-toolbar color="primary">
  
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login" routerDirection="root"></ion-back-button>
      </ion-buttons>
  
      <ion-title>Reset Passsword</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row class='flex1'>
      <img src="assets/forgot-password.svg">
    </ion-row>
    <ion-row class='flex2'>
        <form [formGroup]="passwordResetForm" novalidate>
       
        <ion-item><ion-icon src ='assets/mail.svg' size ='large' slot='start'></ion-icon>
          <ion-label position = "floating" text-wrap>What is your official email id to login?</ion-label>
          <ion-input formControlName="email" type="email" >
          </ion-input>
        </ion-item>
    
            <p> Reset Password link will be sent to above email id</p>
        <ion-button expand="block" (click)="passwordReset(passwordResetForm)" [disabled]="!passwordResetForm.valid">
            Reset your Password
        </ion-button>
      </form>
      </ion-row>
      </ion-grid>

  </ion-content>
