ion-content{
    --background : #f4f7f8;// #c8f7c5;
  }  
  scroll-content {
    display: flex;
    flex-direction: column;
}

ion-grid {
    padding: 0;
    height: 100%;
}

.flex1 {
   flex: 1;
        align-items:center ;
        justify-content:center ;
background-color: var(--ion-color-primary) ;
}
.flex2 {
    flex: 4;
    align-items:center ;
        justify-content:center ;
}

  form {
    flex: 4;
  ion-item,ion-radio-group{
        --background:#ffffffCC;
    }
  
      margin-bottom: 32px;
      button {
      margin-top: 20px !important;
      }
      }
      p {
      font-size: 0.8em;
      color: #d2d2d2;
      }
      ion-label {
      margin-left: 5px;
    
      }
    ion-icon{
      color:var(--ion-color-primary);
      
    }
      ion-input {
      padding: 5px;
      }
      .invalid {
      border-bottom: 1px solid #ff6153;
      }
      .error-message {
      min-height: 2.2rem;
      ion-label {
      margin: 2px 0;
      font-size: 60%;
      color: #ff6153;
      } 
    .item-inner {
              display: block !important;
              overflow: visible !important;
              border-bottom: 1px solid #CCCCCC !important;
              box-shadow: none !important;
            }
      }