<ion-header>

</ion-header>

<ion-content fullscreen>
  <img src='../../../assets/imgs/shopping-cart-1105049_1280.png'>
  <ion-title>DAILY SALES TRACKER</ion-title>
  <form [formGroup]="loginForm" novalidate>
  <ion-item>
  <ion-label stacked>Email</ion-label>
  <ion-input formControlName="email" type="email" placeholder="Your email
  address" color ="warning"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label stacked>Password</ion-label>
  <ion-input formControlName="password" type="password" placeholder="Your password" color="warning"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="userLogin(loginForm)" color="secondary"
  [disabled]="!loginForm.valid">
  Login
  </ion-button>
  </form>
  <ion-button expand="block" fill="clear" routerLink="/signup" color="warning">
  Sign Up for a new account
  </ion-button>
   <ion-button expand="block" fill="clear" routerLink="/password-reset" color="light">
  I forgot my password
  </ion-button> 
  </ion-content>
