 
ion-item{
    --background:var(--ion-color-white); // #f4f7f8
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 2%;
}
ion-card{
background-color:#ffffffcc; // #ffffffCC;

}
.spinner-container {
width: 100%;
text-align: center;
padding: 10px;
}

ion-content{
    --ion-background-color :var(--ion-color-light) ; // ;
--ion-grid-padding : 2px;
--ion-grid-column-padding: 2px;
}
scroll-content {
display: flex;
flex-direction: column;
}

ion-grid {
padding: 0;
height: 100%;
}

 
.flex1 {
flex: 1;
    align-items:center ;
    justify-content:center ;
    background-color : var(--ion-color-primary);
ion-label{
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  
}

}
.flex2 {
flex: 4;
}

h3 {
color :var(--ion-color-secondary);
}

h1{
    color: var(--ion-color-primary);
}
/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }

