ion-content{
    // --ion-background-color : #c8f7c540;
    --ion-background-color: #f2f4f6;
     --ion-grid-padding : 2px;
     --ion-grid-column-padding: 2px;
 }
 scroll-content {
     display: flex;
     flex-direction: column;
 }
 
 ion-grid {
     padding: 0;
     height: 100%;
    // background-color: var(--ion-color-primary-light);
    background-color: #f2f4f640;
 }
 ion-searchbar, ion-card{
    // background: var(--ion-color-primary-light);
    background: var(--ion-color-light);
 }
      .cardBorder{
         border-left: thick solid var(--ion-color-primary); 
         background:white;
      }
 .flex1 {
    flex: 1;
         align-items:center ;
         justify-content:center ;
         background-color : var(--ion-color-primary);
 ion-label{
  
         font-family: 'Roboto', sans-serif;
         font-weight: 900;
         color: white;
         text-transform: uppercase;
         margin: 0;
         position: absolute;
         top: 25%;
         left: 50%;
         font-size: 2rem;
         transform: translate(-50%, -50%);
       
 }
 
 }
 .flex2 {
     flex: 4;
     background-color: var(--ion-color-primary-light);
    //background-color: var(--ion-color-light-tint);
 }
 